




<form id="updatePhanLoaiForm" onsubmit="return false">
    <div class="row align-items-center">
        <div class="col-md-7 offset-md-2">
            <div hidden class="form-group">
                <label>Mã Phân loại</label>
                <input type="text" class="form-control" id="ma_phan_loai_old" />
            </div>
            <div class="form-group">
                <label>Mã Phân loại</label>
                <input type="text" class="form-control" id="ma_phan_loai" />
            </div>
            <div class="form-group">
                <label>Tên Phân loại</label>
                <input type="text" class="form-control" id="ten_phan_loai" />
            </div>
            <input id="updateform" data-dismiss="modal" type="submit" value="Cập nhập" class="btn btn-outline-secondary form-control" />
        </div>
    </div>
</form>