@using Microsoft.AspNetCore.Http;
@if (Context.Session.GetString("R") == "Admin")
{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">MiniShop</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" asp-action="index" asp-controller="home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ Admin</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>


        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseChucvu" aria-expanded="true" aria-controls="collapseUser">
                <i class="fas fa-user-tag"></i>
                <span>Chức vụ</span>
            </a>
            <div id="collapseChucvu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="chucvu">Tạo mới chức vụ</a>
                    <a class="collapse-item" asp-action="index" asp-controller="chucvu">Danh sách chức vụ</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - User Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
                <i class="fas fa-users"></i>
                <span>User</span>
            </a>
            <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="nhanvien">Tạo mới</a>
                    <a class="collapse-item" asp-action="index" asp-controller="nhanvien">Danh sách</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - đơn hàng Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDonHang" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-file-invoice"></i>
                <span>Đơn hàng</span>
            </a>
            <div id="collapseDonHang" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="donhang">Tạo đơn hàng</a>
                    <a class="collapse-item" asp-action="index" asp-controller="donhang">danh sách đơn hàng</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhanLoai" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-list"></i>
                <span>Phân Loại</span>
            </a>
            <div id="collapsePhanLoai" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="phanloai">Tạo Phân Loại</a>
                    <a class="collapse-item" asp-action="index" asp-controller="phanloai">danh sách phân loại</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSanPham" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-boxes"></i>
                <span>Sản phẩm</span>
            </a>
            <div id="collapseSanPham" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="mathang">Tạo sản phẩm</a>
                    <a class="collapse-item" asp-action="index" asp-controller="mathang">danh sách sản phẩm</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Loại khách hàng  Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLoaiKhachHang" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-address-card"></i>
                <span>Loại khách hàng</span>
            </a>
            <div id="collapseLoaiKhachHang" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="loaikhachhang">Tạo loại khách hàng</a>
                    <a class="collapse-item" asp-action="index" asp-controller="loaikhachhang">danh sách loại khách hàng</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - khách hàng  Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKhachHang" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-pray"></i>
                <span>Khách hàng</span>
            </a>
            <div id="collapseKhachHang" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="khachhang">Tạo khách hàng</a>
                    <a class="collapse-item" asp-action="index" asp-controller="khachhang">danh sách khách hàng</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - mã giảm giá  Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaGiamgia" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-tags"></i>
                <span>Mã giảm giá</span>
            </a>
            <div id="collapseMaGiamgia" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="giamgia">Tạo Mã giảm giá</a>
                    <a class="collapse-item" asp-action="index" asp-controller="giamgia">danh sách mã giảm giá</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
else
{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">MiniShop</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" asp-action="index" asp-controller="home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ Nhân viên</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <!-- Nav Item - đơn hàng Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDonHang" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-file-invoice"></i>
                <span>Đơn hàng</span>
            </a>
            <div id="collapseDonHang" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="donhang">Tạo đơn hàng</a>
                    <a class="collapse-item" asp-action="index" asp-controller="donhang">danh sách đơn hàng</a>
                </div>
            </div>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSanPham" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-boxes"></i>
                <span>Sản phẩm</span>
            </a>
            <div id="collapseSanPham" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="mathang">Tạo sản phẩm</a>
                    <a class="collapse-item" asp-action="index" asp-controller="mathang">danh sách sản phẩm</a>
                </div>
            </div>
        </li>
       
        <!-- Nav Item - khách hàng  Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKhachHang" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-pray"></i>
                <span>Khách hàng</span>
            </a>
            <div id="collapseKhachHang" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Hành Động</h6>
                    <a class="collapse-item" asp-action="upsert" asp-controller="khachhang">Tạo khách hàng</a>
                    <a class="collapse-item" asp-action="index" asp-controller="khachhang">danh sách khách hàng</a>
                </div>
            </div>
        </li>

        
        <!-- Divider -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
